-e .[redis,postgres,kafka]

# Documentation
mkdocs==1.5.3
mkdocs-material==9.5.12
mkautodoc==0.2.0

# Packaging
build==1.1.1
twine==5.0.0

# Tests & Linting
ruff==0.3.5
coverage==7.4.3
mypy==1.8.0
pytest==8.0.2
pytest-asyncio==0.23.6
