<!DOCTYPE html>
<html>
<head>
<script type="text/javascript">
    // use vanilla JS because why not
    window.addEventListener("load", function() {

        // create websocket instance
        var mySocket = new WebSocket("ws://localhost:8000/");

        // add event listener reacting when message is received
        mySocket.onmessage = function (event) {
            var output = document.getElementById("messages");
            // put text into our output div
            var node = document.createElement("li");
            var textnode = document.createTextNode(event.data);
            node.appendChild(textnode);
            output.appendChild(node);

            //output.textContent = event.data;
        };

        var form = document.getElementById("chatForm");
        var input = document.getElementById("messageInput");
        form.addEventListener("submit", function (e) {
            // on forms submission send input to our server
            input_text = input.value;
            if (input_text) {mySocket.send(input_text);}
            e.preventDefault()
            input.value = "";
        })
    });
</script>
<style>
    #messageInput {
        width: 300px;
    }
</style>
</head>
<body>
    <form id="chatForm">
        <input id="messageInput" name="message"></input>
        <input type="submit" value="send"></input>
    </form>
    <ul id="messages"></ul>
</body>
</html>
